// =========================================================================
// Colors
// =========================================================================


/**
Base colors that can be used when prototyping. Taken from http://clrs.cc/

1. We ideally avoid using pure white on pure black, because the contrast is
so great that it creates the illusion that text is vibrating on screen.
 */
$black: #000;
$off-black: #111; /* 1 */
$white: #fff;
$off-white: #fafafa; /* 1 */

$maroon: #85144b;
$red: #ff4136;
$orange: #ff851b;
$yellow: #ffdc00;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$teal: #39cccc;
$aqua: #7fdbff;
$blue: #0073d8;
$navy: #001f3f;
$purple: #78265f;
$fuchsia: #f012be;
$grey: #aaa;
$mercury-grey: #e5e5e5;
$silver: #ddd;

// Theme colors 
$bg-border: #e7ecef;
$body-color: $white;
$text-color: #0a0a0a;
$main: #274c78;
$link-footer: #707070;


$red: #e93737;
$light-red: #ec7070;
$coral: #fc7750;
$light-coral: #fea78d;
$deep-yellow: #f9c818;
$yellow: #f9dc4a;
$orange: #e99010;
$deep-green: #0a4343;
$teal-green: #237978;
$aqua: #1bc0d7;
$light-blue: #cbe0fb;
$sky-blue: #6bc8fe;
$azure: #0075ff;
$w3c-blue: #005a9c;
$blue: #005797;
$deep-blue: #024488;
$pink: #ddb0c8;
$light-pink: #eeccdc;
$storm-gray: #545454;
$twiki-gray: #e7ecef;
$mist-gray: #f8f8fb;


/**
Sass variables.
 */
// Sass variables
$border-color:                  $twiki-gray;
$input-border-color:            $storm-gray;
$focus-color:                   $yellow;

$link-color:                    $blue;
$link-color--visited:           $purple;
$link-color--hover:             $deep-blue;
$link-color--hover: $orange;

$success-color:                 #046704;
$info-color:                    $w3c-blue;
$warning-color:                 #c28605;
$error-color:                   #a82615;

// Social media colours that might be useful
$facebook: #3b5998;
$instagram: #405de6;
$linkedin: #0077b5;
$pinterest: #bd081c;
$twitter: #1da1f2;
$whatsapp: #25d366;
$youtube: #ff0000;

// Categories
$category-color-1: #264b78;
$category-color-2: #78265f;
$category-color-3: #785b26;
$category-color-4: #233820;
$category-color-5: #cdb486;
$category-color-6: #86a6cd;
$category-color-7: #cd86b7;
$category-color-8: #317826;
$category-color-9: #d1f7cb;