// =========================================================================
// Typesetting
// =========================================================================

$font-family: 'Roboto', sans-serif;
$font-loaded-family: 'Roboto', sans-serif;
$font-style: normal;
$font-weight:	400;

$emphasis: 600;
$emphasis--more: 800;

$mono-family: Monaco, 'Lucida Console', 'Courier New', monospace;
