/*------------------------------------*\
    #Home page
\*------------------------------------*/

.home {
	.hero {
    background: var(--pulis-color-grey);
    padding: 40px 0;
    min-height: 440px;
  
    @media(max-width: 991px) {
      min-height: auto;
    }
	}

	.component--members {
		padding-bottom: rem(40);
		padding-top: rem(40);
	}

	.component--members__grid {
		margin-top: rem(40);
	}
}