// =============================================================================
// Body
// =============================================================================

html {
	height: 100%;
  font-family: var(--pulis-font-family-roboto);
  letter-spacing: 1.36;
}

body {
  font-size: rem(16);
  background-color: var(--pulis-color-white);
	color: var(--pulis-color-black);
	min-height: 100%;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
  margin: 1rem 0
}

time {
  display: block;
}

.blockquote {
  font-size: rem(14);
  width: 100%;
  margin: 50px auto;
  font-style:italic;
  color: var(--pulis-color-black);
  padding: 1.2em rem(30);
  border-left: rem(8) solid var(--pulis-color-blue);
  line-height:1.6;
  position: relative;
  background: var(--pulis-color-grey);
}

blockquote cite {
  display: block;
  font-size: 90%;
  line-height: 2em;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  width: 95%;
}

.section {
  padding: rem(80) 0;

  &__header {
    margin-bottom: rem(35);
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: rem(5);

      .button {
        margin-top: rem(20);
      }
    }
  }

  &-title {
    font-weight: 700;
    font-size: rem(32);
    line-height: rem(38);
    margin: 0;

    @media(max-width: 425px) {
      font-size: rem(20);
      line-height: normal;
    }
  }

  @media(max-width: 425px) {
    padding: rem(50) 0;
  }

  &--grey {
    background: var(--pulis-color-grey);
  }

  &--orange {
    background: var(--pulis-color-orange);
  }

  &--blue {
    background: var(--pulis-color-blue);
    
    .section-title {
      color: var(--pulis-color-white);
    }
  }

  &--black {
    background: var(--pulis-color-black);
  }
}

.tagline {
  font-weight: 600;
  font-size: rem(14);

  &--white {
    color: var(--pulis-color-white);
  }

  &--grey {
    color: var(--pulis-color-grey);
  }

  &--orange {
    color: var(--pulis-color-orange);
  }

  &--blue {
    color: var(--pulis-color-blue);
  }
}
