/*------------------------------------*\
    #Buttons

    1. High contrast themes tend to eliminate background-color.
    With no border set, we need to apply a transparent outline to
    maintain the button shape. The negative outline-offset moves
    the outline inside the perimeter so it behaves like a border.
\*------------------------------------*/

.button {
  border-radius: rem(4);
  font-weight: 500;
  text-decoration: none;
  padding: rem(6);
  transition: var(--transition);

  &:active,
  &:hover,
  &:focus {
    background: var(--pulis-color-orange-light);
    color: var(--pulis-color-black);
    text-decoration: none;
  }

  @extend .btn;
}

.button--grey {
  background: var(--pulis-color-grey);
  color: var(--pulis-color-black);
}

.button--blue {
  background: var(--pulis-color-blue);
  color: var(--pulis-color-white);
}
