// =========================================================================
// Forms
// =========================================================================

fieldset {
	// If you want a border etc., apply this to a wrapping container for the fieldset
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0.01em 0 0 0;
}

.wpforms-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wpforms-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  @media(max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.wpforms-container .wpforms-error-noscript {
  color: #D63637;
}

.wpforms-container .wpforms-hidden {
  display: none !important;
}

.form-control {
  background: transparent;
}

.wpforms-field {
  width: 100%;
  margin-bottom: rem(15);
}

.wpforms-field-label {
  display: block;
  color: var(--pulis-color-blue);
  font-weight: 700;
  margin-bottom: rem(5);
}

.wpforms-label-hide {
  @extend .visually-hidden;
}

.archive-servicos .wpforms-form {
  margin: 0 auto;
}

#wpforms-7403-field_1,
.wpforms-field-medium,
.wpforms-field-small {
  appearance: auto;
  background: var(--pulis-color-white) !important;
  width: 580px;
  padding: rem(8) rem(6);

  @media(max-width: 1024px) {
    max-width: 100% !important;
  }

  @extend .form-control;  
}

.page-template-page-orcamento-php {
  .wpforms-field-medium {
    width: 580px;
  }
}

textarea {
  min-height: 150px !important;
}

.wpforms-field-limit-text {
  color: var(--pulis-color-blue);
  font-size: rem(14);
  font-weight: 700;
  padding-top: rem(5);
}

.wpforms-submit {
  @extend .button;
  @extend .button--blue;

  @media(max-width: 1024px) {
    margin-top: rem(15);
  }
}

.wpforms-container-full {
  margin: 0;
  display: flex;
}

.form-control {
  --bs-border-width: 1px;
  --bs-border-color: var(--pulis-color-black);
}
