.cta-contribute {
  background: var(--color-yale-blue);
  color: var(--color-light);
  border-radius: 3px;
  padding: 30px;
}

.cta-contribute__link {
  background-color: var(--color-alice-blue);
  color: var(--color-yale-blue);
  padding: 0.5rem;
  display: inline-block;
  width: 47%;
  text-align: center;
  margin-top: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}
