.intro {
  background: var(--color-theme-highlight-block);

  &__summary {
    color: var(--color-light);
    font-size: get-size(500);
    --flow-space: #{get-size(500)};

    a {
      color: var(--color-light);

      &:hover,
      &:focus {
        background: var(--color-carrot-orange);
        color: var(--color-dark);
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }

  &__meta {
    color: var(--color-theme-feature-text);
  }
}
