{% from "macros/form.njk" import label, field, textarea, button %}

<form name="contact" method="POST" data-netlify="true" action="/obrigado" netlify-honeypot="bot-field">
  <ol class="[ field-list ]">
    <li class="[ field-list__field-group ]">
      {{ label("Qal seu nome?", "name") }}
      {{ field( "text", "name", { required: true, placeholder: "João Silva", autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
    </li>
    <li class="[ field-list__field-group ]">
      {{ label("Qual seu e-mail?", "email") }}
      {{ field( "email", "email", { required: true, placeholder: "joaosilva@exemplo.com", autocomplete: "email" } ) }}
    </li>
    <li class="[ field-list__field-group ]">
      {{ label("Mensagem", "message") }}
      {{ textarea( "message", { required: true, autocapitalize: "sentences", spellcheck: "true" } ) }}
    </li>
    <li hidden>
      <label>Não preencha isso se você for humano: <input name="bot-field" /></label>
    </li>
  </ol>
  {{ button("Send message") }}
</form>
