// ====================================================
// Footer
// ====================================================

.site-footer .widget_nav_menu {
  padding: rem(72) 0;
}

.menu-footer-container .menu {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  @media(max-width: 1000px) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.menu-footer-container .menu-item {
  padding-left: rem(15);

  &:first-child {
    padding-left: 0;
  }

  @media(max-width: 1000px) {
    padding: 0 0 0 rem(10) !important;
  }

  @media(max-width: 768px) {
    padding-bottom: rem(20) !important;
  }
}

.menu-footer-container .menu-item a {
  color: var(--pulis-color-black);
  font-size: rem(16);
  font-weight: 500;
  line-height: rem(19);
  transition: var(--transition);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--pulis-color-blue);
    text-decoration: underline;
  }

  @media(max-width: 1399) {
    font-size: rem(14);
  }

  @media(max-width: 768px) {
    font-size: rem(20);
  }
} 

// Social
// ====================================================

.footer-social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: rem(32);

  @media(max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media(max-width: 480px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer-social__title {
  color: var(--pulis-color-blue);
  font-size: rem(18);
  font-weight: 700;
  line-height: rem(24);
  text-decoration: none;

  @media(max-width: 768px) {
    margin-bottom: rem(20);
  }
}

.footer-social__list {
  @media(max-width: 768px) {
    flex-direction: row !important;
  }
}

.footer-social__item {
  @media(max-width: 768px) {
    padding-left: rem(15) !important;
  }

  @media(max-width: 480px) {
    &:first-child {
      padding-left: 0 !important;
    }

    padding-left: rem(15) !important;
  }
}

.footer-social__icon {
  height: rem(20);
  width: rem(20);

  &--twitter {
    color: var(--pulis-color-black);
  }

  &--linkedin {
    color: var(--linkedin);
  }

  &--instagram {
    color: var(--instagram);
  }

  &--youtube {
    color: var(--youtube);
  }

  &--mastodon {
    color: var(--mastodon);
  }

  &--rss {
    color: var(--rss);
  }

  @media(max-width: 480px) {
    height: rem(30);
    width: rem(30);
  }
}

.footer-other-links {
  font-size: rem(16);
  font-weight: 500;
}

// Credits
// ====================================================

.footer-credits {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: rem(25) 0;

  @media(max-width: 991px) {
    flex-direction: column; 
  }

  @media(max-width: 768px) {
    padding-top: rem(20);
    align-items: flex-start; 
  }

  &__list {
    padding: 0;
  }
}

.footer-credits p {
  font-size: rem(16);
  margin: 0;
}

.footer-credits p a {
  color: var(--pulis-color-black);
  
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.footer-social__list,
.footer-credits__list {
  align-items: center;
  display: flex;
  list-style-type: "";
  margin: 0;
  justify-content: flex-end;

  @media(max-width: 768px) {
    align-items: flex-start;
    padding: 0;
    flex-direction: column;
  }
}

.footer-social__item,
.footer-credits__item {
  padding-left: rem(15);

  &:first-child { 
    padding-right: 0; 
  }

  @media(max-width: 768px) {
    padding-left: 0; 
  }
}

.footer-credits__item:last-child {
  @media(max-width: 768px) {
    padding-top: rem(15);
  }
}

.footer-credits__link {
  color: #707070;
  font-size: rem(14);

  @media(max-width: 480px) {
    font-size: rem(18);
  }
}

.footer-credits__list .menu-item {
  padding: 0 rem(10);

  &:first-child {
    padding-left: 0;
  }

  @media(max-width: 768px) {
    padding: rem(10) 0 0 0;
  }
}

.footer-credits .menu-item .nav-link {
  font-weight: 500;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;

  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.not-ai {
  @media(max-width: 991px) {
    display: none;
  }
}