// =========================================================================
// Header 
// =========================================================================

.site-header {
  padding: rem(22) 0;
}

.navbar-brand {
  color: var(--pulis-color-blue);
  font-size: rem(24);
  font-weight: var(--pulis-font-weight-900);
  line-height: rem(32);
  letter-spacing: 0;
}

.nav-link {
  font-size: rem(16);
  color: $text-color;

  &:hover,
  &:focus {
    color: var(--pulis-color-orange-light);
    text-decoration: none;
  }
}

.nav-item.active > .nav-link {
  color: var(--pulis-color-blue);
  font-weight: var(--pulis-font-weight-600);
  text-decoration: underline;
  padding-bottom: 1px;

}

.post-date {
  font-size: rem(12);
  text-align: center;
  text-transform: uppercase;
  color: var(--pulis-color-wheat);
}


.button-cta {
  margin-left: rem(35);
}