// =========================================================================
// Services
// =========================================================================

.services {
  &__headline {
    font-size: rem(24);
    font-weight: 500;
    line-height: rem(32);
    padding-top: rem(32);
  }

  &__content {
    padding-top: rem(32);
  }
}

.service {
  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;

    .c-card__title {
      color: var(--pulis-color-blue);
      font-size: rem(24);
    }
  }

  &__icon {
    height: rem(24);
    margin-right: rem(16);
    width: rem(24);
    fill: var(--pulis-color-blue);
  }

  .c-card__content {
    line-height: rem(19);
    padding-top: rem(32);

    a {
      display: inline-block;
      margin-top: rem(32);
    }
  }

  &__contact {
    display: block;
    padding-top: rem(38);
    max-width: 557px;
    font-size: rem(20);
    line-height: rem(29);
    color: var(--pulis-color-grey-light);
  }
}
