// =========================================================================
// Bookmarks
// =========================================================================

.bookmark__list {
  margin-bottom: rem(80);

  @extend .list-grid;

  @media(max-width: 630px) {
    grid-template-columns: 1fr;
  }
}

.bookmark__item {
  background: $bg-border;
  min-height: 205px;
  padding: rem(16);

  @media(max-width: 630px) {
    min-height: auto;
  }
}

.bookmark__title {
  margin-block-start: rem(23);
  margin-block-end: rem(23);
  word-break: break-word;

  &:after {
    content: '🔖';
    display: inline;
    margin-left: rem(10);
  }
}

.bookmark__link {
  font-size: rem(20);
  color: $main;
  text-decoration: none;
  transition: color .3s ease;
}

.bookmark__text {
  font-size: rem(16);
  margin-block-start: rem(19);
  margin-block-end: rem(19);
}

.bookmark__date {
  color: $main;
  font-size: rem(14);
  font-weight: 700;
}