.bookshelf__filtering {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 3px 3px;
  position: relative;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.5em, 1fr));
  grid-gap: 1.5em;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.book__cover img {
  height: 270px;
}

.book__title {
  font-size: rem(16);
}
