// ====================================================
// Buttons
// ====================================================

.button {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: rem(5);
  font-weight: 600;
  padding: rem(5) rem(15);

  @media(max-width: 480px) {
    max-width: 100%;
  }
}

.button--center {
  text-align: center;
  margin: 0 auto;
}

// Button sizes
// .button--small {}
// .button-medium {}
// .button--large {}

.gwolle-gb-write-button .button {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: rem(5);
  font-weight: 600;
  padding: rem(5) rem(15);

  &:focus-visible {
    border: 1px solid var(--pulis-color-wheat);
  }

  @media(max-width: 480px) {
    max-width: 100%;
  }

  @extend .button--wheat;
}

.button--wheat {
  background: var(--pulis-color-wheat);
  border: 1px solid var(--pulis-color-wheat);
  color: var(--pulis-color-black) !important;
  font-weight: 600;
  text-decoration: none;
  transition: all ease .2s;
}

.button__cta {
  border-radius: var(--pulis-border-radius);
  text-decoration: none;
}



.submit {
  background: wheat;
  color:black;
  font-weight: 600;
  margin-top: 30px;
}

#webmention-submit {
  border-radius: 6px;
  border: 0;
  font-weight: 600;
  padding: 5px 15px;
  margin: 0;
}
