// ===========================================
// Card
// ===========================================

.c-card {
  margin-bottom: var(--pulis-block-spacing-vertical);
  padding: var(--pulis-block-spacing-vertical) var(--pulis-block-spacing-horizontal);
  border-radius: var(--pulis-border-radius);
  background: var(--pulis-card-background-color);
  box-shadow: var(--pulis-card-box-shadow);
  min-height: 30vh;
}

.c-card__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.c-card__title {
  color: var(--pulis-color-wheat);
  margin-bottom: var(--pulis-block-spacing-horizontal);
  font-size: rem(25);
  padding: 1.5rem 1.75rem 1.5rem 0;
  border-bottom: 1px solid var(--pulis-color-wheat);
}

.c-card--donate {
  min-height: auto;
}

.c-card__title--donate {
  padding: 0;
  color: var(--pulis-color-black);
  border-bottom: none;
}

.c-card__link {
  color: var(--pulis-color-wheat);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus-visible {
    background: var(--pulis-color-wheat);
    color: var(--pulis-color-black);
  }
}

.c-card__time {
  font-size: .9rem;
  margin-bottom: var(--pulis-block-spacing-horizontal);
}

.c-card--donate {
  margin: var(--pulis-block-spacing-horizontal) 0;
  padding: 20px;
  background: var(--pulis-color-white);
  border: 1px solid var(--pulis-color-white);
  color: var(--pulis-color-black);
}

#webmention-source {
  padding: 10px;
  width: 80%;
  border: 1px solid;
background: var(--pulis-color-white);
}

.donate {
  color: var(--pulis-color-black) !important;
  text-decoration: underline;
}
