// =======================================================
// Hero
// =======================================================

.hero {
  background: var(--pulis-color-grey);
  padding: 40px 0;
  min-height: 440px;
  display: flex;
  align-items: center;

  @media(max-width: 991px) {
    min-height: auto;
    padding: 20px 0;
  }

  &--letters {
    margin-bottom: rem(30);
  }
}

.c-hero__title {
  font-size: rem(43);
  line-height: rem(55);
  font-weight: 700;
  margin: 0;

  @media(max-width: 480px) {
    font-size: rem(30);
    line-height: normal;
  }
}

.c-hero__lead {
  font-size: rem(24);
  font-weight: 400;
  line-height: rem(32);
  margin: 0;
  padding: rem(20) 0;

  @media(max-width: 480px) {
    font-size: rem(18);
    line-height: normal;
  }
}

.c-hero__link {
  color: var(--pulis-color-black);
  font-size: rem(24);
  font-weight: 500;
  line-height: rem(32);
  text-decoration: underline;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--pulis-color-orange-light);
  }
}

.c-hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media(max-width: 991px) {
    display: none;
  }
}

.service-steps {
  background: var(--pulis-color-orange);
  padding: rem(60) 0;
}

