// =======================================================
// Hero
// =======================================================

.home .hero {
  background: var(--pulis-color-grey);
  padding: 40px 0;
  min-height: 440px;

  @media(max-width: 991px) {
    min-height: auto;
  }
}

.c-hero__title {
  font-size: rem(54);
  line-height: rem(63);
  font-weight: 400;
  margin: 0;
}

.c-hero__lead {
  font-size: rem(24);
  font-weight: 400;
  line-height: rem(32);
  margin: 0;
  padding: rem(36) 0;
}

.c-hero__link {
  color: var(--pulis-color-black);
  font-size: rem(24);
  font-weight: 500;
  line-height: rem(32);
  text-decoration: underline;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--pulis-color-orange-light);
  }
}

.c-hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media(max-width: 991px) {
    display: none;
  }
}
